:root{
    --primary-white-color: #ffffff;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --link-text-color:#757575;
    --bg-section:#2F303A;

}
/* header */


.page-logo{
    font-family: Raleway, sans-serif;
    line-height: 2.21;
    font-size: 14px;
}
.logo-studio:hover,
.logo-studio:focus,
.logo-web:hover ,
.logo-web:focus
    {
        color: var(--accent-color);}
.logo-web{
    color: var(--accent-color);
}
.logo-studio{
    color:#000000;
}



.sate-nav:hover ,
.sate-nav:focus{
    color: var(--accent-color);
}
.sate-nav{
    color: var(--title-text-color) ;
    line-height: 1.14;
    font-weight: 500;
    font-size: 14px;
}
.aut-nav:hover,
.aut-nav:focus
    {color: var(--accent-color);
}
.aut-nav{
    color:var(--link-text-color);
    line-height: 1.14;
    font-weight: 500;
    font-size: 14px;
}
/* body */
body{
    background-color: var(--primary-white-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
.section{
background-color:var(--bg-section);
}
.section-title{
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.section-button{
    color: var(--primary-white-color);
    background-color: var(--accent-color); 
    font-size: 16px;
    line-height: 1.87;
}
.title-link{
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
}
.link{
    color: var(--link-text-color) ; 
    font-size: 14px;
    line-height: 1.71;
}
.title-click{
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.title-team{
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.title-person{
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.71;
}
.link-person{
    color: var(--link-text-color) ; 
    font-size: 14px;
    line-height: 1.71;
}
.section-color{
    background: #F5F4FA;
}
/* footer */
.footer{
    background-color:var(--bg-section);
}
.address{
    color: var(--primary-white-color);
    font-size: 14px;
    line-height: 1.71;
}

.aut-fot:hover,
.aut-fot:focus
    {color: var(--accent-color);
}
.aut-fot{
    color:var(--link-text-color);
    font-size: 14px;
    line-height: 1.71;}
/* !ПОРТФОЛИО */
.button{
    color: var(--title-text-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    font-family: inherit;
}
.button:hover,
.button:focus{
    color: var(--accent-color);

}
   

.image-link{
    color: var(--title-text-color);
    line-height: 2;
    letter-spacing: 0.06em;
    font-size: 18px;
}
.image-link:hover,
.image-link:focus{
    color: var(--accent-color);}
.image-par{
    color: var(--link-text-color);
    font-size: 16px;
    line-height: 1.87;
}