:root{
    --primary-white-color: #ffffff;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --link-text-color:#757575;
    --bg-section:#2F303A;

}
/* header */


.page-logo{
    font-family: Raleway, sans-serif;
}
.logo-studio:hover,
.logo-studio:focus,
.logo-web:hover ,
.logo-web:focus
    {
        color: var(--accent-color);}
.logo-web{
    color: var(--accent-color);
}
.logo-studio{
    color:#000000;
}



.sate-nav:hover ,
.sate-nav:focus{
    color: var(--accent-color);
}
.sate-nav{
    color: var(--title-text-color) ;
}
.aut-nav:hover,
.aut-nav:focus
    {color: var(--accent-color);
}
.aut-nav{
    color:var(--link-text-color);
}
/* body */
body{
    background-color: var(--primary-white-color);
    font-family: Roboto, sans-serif;
}
.section{
background-color:var(--bg-section);
}
.section-title{
    color: var(--primary-white-color);
}
.section-button{
    color: var(--primary-white-color);
    background-color: var(--accent-color); 
}
.title-link{
    color: var(--title-text-color);
}
.link{
    color: var(--link-text-color) ; 
}
.section-color{
    background: #F5F4FA;
}
/* footer */
.footer{
    background-color:var(--bg-section);
}
.address{
    color: var(--primary-white-color);
}
/* !ПОРТФОЛИО */
.button{
    color: var(--title-text-color);
    cursor: pointer;
}
.button:hover,
.button:focus{
    color: var(--accent-color);

}
   

.image-link{
    color: var(--title-text-color);
}
.image-link:hover,
.image-link:focus{
    color: var(--accent-color);}